<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argrid.dev</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
        <h1 class="ttlhome">
        Bem vindo a 'Argrid.dev'
        </h1>
        <h2 class="sttlhome">
        Hub de minijogos!
        </h2>

<br>
 <br>
  <br>
   <br>
    <br>
     <br>
      <br>
     <br>
    <br>
   <br>
  <br>
 <br>
<br>

<div class="gamerow">
        <div class="thumbnail">
            <img class="thumbimg"
            src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42598-rocket-icon.png"
            width="80" height="80">
            <h1 class="thumbtext">Jogo exemplo</h1>
        </div>
        <div class="thumbnail">
            <img class="thumbimg"
            src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42598-rocket-icon.png"
            width="80" height="80">
            <h1 class="thumbtext">Jogo exemplo</h1>
        </div>
        <div class="thumbnail">
            <img class="thumbimg"
            src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42598-rocket-icon.png"
            width="80" height="80">
            <h1 class="thumbtext">Jogo exemplo</h1>
        </div>
        <div class="thumbnail">
            <img class="thumbimg"
            src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42598-rocket-icon.png"
            width="80" height="80">
            <h1 class="thumbtext">Jogo exemplo</h1>
        </div>
        <div class="thumbnail">
            <img class="thumbimg"
            src="https://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42598-rocket-icon.png"
            width="80" height="80">
            <h1 class="thumbtext">Jogo exemplo</h1>
        </div>
</div>

<header>
        <h1 class="htxt">
            Me contate: Vitoraedeaguiar.dev@gmail.com | Meulinkedin.com <br>
            Outros projetos: https://github.com/Vitor-ae-aguiar
        </h1>
</header>
</body>
</html>